<div class="login-page">
  <div class="login-form-container">
      <h1 class="login-header">Sign In</h1>

      <%= flash[:error] %>
      <%= form_tag login_path do %>
        <div class="form-label">
          <%= label_tag :username %>
        </div>
        <%= text_field_tag :username, nil, :class => "input-field" %>

        <br />
        <div class="form-label">
          <%= label_tag :password %>
        </div>
        <%= password_field_tag :password, nil, :class => "input-field" %>
        <br />
        <%= submit_tag 'Login', :class => "submit-btn" %>
        <br />

        <a class="facebook" href='/auth/facebook'>Sign in with Facebook</a>
        <% end %>
  </div><!--end of login container-->
</div>
