<div class="login-page">

  <h1>Sign Up</h1>

  <% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ol>
  <% end %>

  <%= form_for @user do |f| %>
      <div id="inner-signup">
        <%= f.label :username %>
        <!-- making sure user name is required for sign up and so is email -->
        <%= f.text_field :username, :required => true, :class => "input-field" %>
        <br />

        <%= f.label :email %>
        <%= f.email_field :email, :required => true, :class => "email-field" %>
        <br />
        <%= f.label :password %>
        <%= f.password_field :password, :class => "input-field" %>
        <br />
        <!-- think i may need these input fields on the form page but commented out for now until john shows us how to do it -->

        <!-- # <%#f.label :image %>
        # <%# f.url_field :image %> -->
        <br />
        <%= f.submit "Sign up", :class => "submit-btn" %>
      </div> <!--end of inner sign up div-->
  <% end %>
</div><!--end of login-page div-->
