<div class="indiv-lesson">

  <header>
    <h1><%= @lesson.lessonName %></h1>
  </header>

  <main>

    <% @lesson.characters.each do |character| %>

      <%= image_tag character.image, :class => "kana-lesson-image", :alt => "kana image" %>


        <%== character.info %>


    <% end %>

    <%= link_to "Take Quiz on #{@lesson.kanas}", lesson_test_questions_path(@lesson) %>
    <br />
    <%= link_to 'Back to profile', root_path %>


  </main>


</div>
