<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Kana-o-Manabu</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>



  <body>

    <nav>

        <% if @current_user.present? %>
        <%=  link_to 'Home', root_path, :class => "nav-link", :id => 'home' %>
        <%= link_to 'My Lessons', lessons_path, :class => 'nav-link' %>
          <%= link_to 'Hiragana Chart', characters_path, :class => "nav-link" %>
          <%# link_to 'Random Quiz', random_quiz_path, :class => "nav-link" %>
          <%# link_to 'Practice Writing', :class => "nav-link" %>

          <%=  link_to 'Log Out', login_path, :method => 'delete', :class => "nav-link" %> <%# make this dropdown %>

          <% if @current_user.admin? %>
            <%= link_to 'Admin Area', users_path, :class=> "nav-link" %>
          <% end %>

        <% else %>
          <%= link_to 'Sign In', login_path, :class => "nav-link" %> |
          <%= link_to 'Sign Up', new_user_path, :class => "nav-link" %>
        <% end %>
    </nav>

    <%= yield %>

    <footer>
      <p class="ej-footer">EJ Willard &copy;2018</p>
      <div class="footer-socials">
        <a target="_blank" href='https://twitter.com/elli_jayne'>Twitter</a>
        <a target="_blank" href='mailto:ellijayne.m.willard@gmail.com'>Gmail</a>
        <a target="_blank" href='https://github.com/ellijayne'>Github</a>
        <a target="_blank" href='#'>Facebook</a>
      </div>
      <p class="disclaimer">
        Mneumonics from <a href="https://www.tofugu.com/">トフグ</a>
      </p>
    </footer>

  </body>
</html>
