<!DOCTYPE html>
<html>
  <head>
    <title>JapaneseKanaApp</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav>

        <% if @current_user.present? %>
        <%= link_to 'My Lessons'  %>
        <%# #lesson_path, :class => 'lesson-btn' %>
        <%= link_to 'My Quizzes' %>
        <%#  quiz_path, :class => 'quiz-btn' %>
          <%= link_to 'Hiragana Chart', :class => "nav-link" %>
          <%= link_to 'Practice Writing', :class => "nav-link" %>
          <%= link_to 'Menu', :class => "nav-link" %> <%# make this dropdown %>
          <%=  link_to 'My Profile', users_profile_path, :class => "nav-link" %> <%# make this dropdown %>
          <%=  link_to 'Log Out', login_path, :method => 'delete', :class => "nav-link" %> <%# make this dropdown %>

          <%= link_to 'Admin Area', users_path if @current_user.admin? %>

        <% else %>
          <%= link_to 'Sign In', login_path, :class => "nav-link" %>
          <%= link_to 'Sign Up', new_user_path, :class => "nav-link" %>
        <% end %>
    </nav>

    <%= yield %>

  </body>
</html>
